[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = https://github.com/upcx/berkeley-softfloat-3
[submodule "libraries/yubihsm"]
	path = libraries/yubihsm
	url = https://github.com/Yubico/yubihsm-shell
[submodule "libraries/upcx-vm"]
	path = libraries/upcx-vm
	url = https://github.com/upcx/upcx-vm
[submodule "upcx-wasm-spec-tests"]
	path = upcx-wasm-spec-tests
	url = https://github.com/UPCX/upcx-wasm-spec-tests
[submodule "libraries/abiupcx"]
	path = libraries/abiupcx
	url = https://github.com/UPCX/abiupcx.git
[submodule "libraries/rocksdb"]
	path = libraries/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "libraries/amqp-cpp"]
	path = libraries/amqp-cpp
	url = https://github.com/CopernicaMarketingSoftware/AMQP-CPP
[submodule "libraries/fc"]
	path = libraries/fc
	url = https://github.com/upcx/fc
[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = https://github.com/upcx/chainbase
[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://github.com/upcx/appbase
